@{
}


<div class="mx-auto rounded border p-4" style="width: 420px">
    <h2 class="text-center mb-3">Sipariş Detay</h2>
    <hr />

    @if (ViewBag.SuccessMessage != null)
    {
        <div class="alert alert-success" role="alert">@ViewBag.SuccessMessage</div>
        <a class="btn btn-outline-primary" asp-controller="ClientOrders" asp-action="Index">Geri</a>
    }
    else
    {
        <div class="row mb-3">
            <div class="col-5">Adres</div>
            <div class="col-7">@ViewBag.DeliveryAddress</div>
        </div>
        <div class="row mb-3">
            <div class="col-5">Ödeme Yöntemi</div>
            <div class="col-7">@ViewBag.PaymentMethod</div>
        </div>
        <div class="row mb-3">
            <div class="col-5">Toplam</div>
            <div class="col-7">@(ViewBag.Total)$</div>
        </div>
        <div class="row mb-3">
            <div class="col-5">Miktar</div>
            <div class="col-7">@(ViewBag.CartSize)</div>
        </div>


        <form method="post">
            <div class="row">
                <div class="col-sm-6 d-grid">
                    <button type="submit" class="btn btn-primary" id="CartOnay">Onayla</button>
                </div>
                <div class="col-sm-6 d-grid">
                    <a class="btn btn-outline-primary" asp-controller="Cart" asp-action="Index" id="CartGeri">Geri</a>
                </div>
            </div>
        </form>
    }

</div>